{{#extend 'styles'}}
  <style>
    button:focus {
      background-color: white !important;
    }

    pre {
      height: 300px;
    }
  </style>
{{/extend}}

<div class="wrapper wrapper-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <div>
              <span class="pull-right text-right">
                <button id="button-clean" class="btn btn-default dim" type="button"><i class="fa fa-trash-o"></i></button>
              </span>

              <h3 class="font-bold no-margins">
                Database update service monitor
              </h3>
              <small>Log output</small>
            </div>

            <div class="m-t-sm">

              <div class="row">
                <div class="col-md-12">
                  <div>
                    <pre></pre>
                  </div>
                </div>
              </div>

            </div>

            <div class="m-t-md">
              <small class="pull-right">
                <i class="fa fa-clock-o"> </i>
                Update on 16.07.2015
              </small>
              <small>
                <strong>Next run:</strong> Not yet implemented.
              </small>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span id="status-title" class="label label-primary pull-right">SQL Server</span>
            <h5>Rows in tables</h5>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-xs-4">
                <small class="stats-label">Events</small>
                <h4 id="events">{{counts.events}}</h4>
              </div>

              <div class="col-xs-4">
                <small class="stats-label">Participants</small>
                <h4 id="participants">{{counts.participants}}</h4>
              </div>
              <div class="col-xs-4">
                <small class="stats-label">Odds</small>
                <h4 id="odds">{{counts.odds}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

{{#extend 'scripts'}}
  <script src="js/monitor.js"></script>
{{/extend}}